.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tabs {
  list-style: none;
  display: flex;
  padding: 3px;
}

.actions {
  padding: 10px;
}
